

nav.nav-link{
  text-align: center;
  background-color: rgb(164, 221, 240); 
  padding: 0px 0px 0px 0px;
  font-size: 25px;
  font-weight: 600;

  display: flex;
  flex-direction: row;
  justify-content:space-between;
  flex-wrap: wrap;
  max-width: 100%;

}

.container{
  
  display: flex;
  flex-direction:row ;
  justify-content:flex-start ;

  flex-wrap: wrap;
  max-width: 50%;
  margin: 0;
}

.userLoginItems{
  max-width: 20%;

}

.link-to{
  width: 130px;
  height: 10vh;
  text-align: center;
  border-radius: 10%;

}

.link-to a{
  width: px;
  height: vh;
  text-align: center;
  border-radius: 10%;
  margin: 2px auto;
  background-color: rgb(185, 202, 233);
  text-shadow: 2px 2px 3px rgb(240, 240, 155);
}

nav {
  background-color: #9d9ba6; 
  padding: 10px; 
  font-size: 25px;
}

nav a {
  text-decoration: none; 
  color: rgb(12, 12, 12); 
  margin-right: 20px; 
  cursor: pointer;
}

nav a:hover {
  color: rgb(115, 79, 221); 
}

.signup-container {
  background-color: whitesmoke;
  padding: 20px;
  border: 1px solid black;
  border-radius: 10px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin:auto;
  width: 300px;
  position: relative;
  top: 40px; 
  
}
.signup-button {
  background-color: #d3dbe4; 
  color: #050404;
  padding: 10px 80px; 
  border-radius: 1px solid black; 
  border-radius:10px;
  cursor: pointer; 

}

.signup-title {
  font-size: 25px;
  margin-bottom: 20px;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}

.form-group {
  margin-bottom: 10px; 
  display: flex;
  flex-direction: column;
  align-items: right;

}
label {
  display: block; 
  margin-bottom: 1px; 
  font-weight: bold;

}
input {
  padding: 5px; 
  border: 1px solid #0c0606; 
  border-radius: 5px; 
  width: 100%;

}


.login-container {
  background-color: whitesmoke;
  padding: 20px;  
  border: 1px solid black;
  border-radius: 10px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  width: 300px;
  position: relative;
  top: 100px; 

}
.login-button {
  background-color: #d3dbe4; 
  color: #050404;
  padding: 10px 80px; 
  border-radius: 1px solid black; 
  border-radius:10px;
  cursor: pointer;
  margin-top: 10px;
}

.login-title {
  font-size: 25px;
  margin-bottom: 20px;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}

.userLoginItems{
  margin-right: 10px;
  float: right;
  
}
.userLoginItems button {
  background-color: #989494; 
  color: #fff;
  border: none;
  padding: 5px 5px;
  border-radius: 10px;
  cursor: pointer;
}

.login {
  text-align: center;
  background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5) ), url("https://t3.ftcdn.net/jpg/03/55/60/70/240_F_355607062_zYMS8jaz4SfoykpWz5oViRVKL32IabTP.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 1000px;;
  

  
}
