
.App {
  text-align: center;

}
.groupMembers ul {
  list-style-type: none;
}

.homepage {
  text-align: center;
  background:url("https://images.unsplash.com/photo-1632406897767-2319bcedac9c?auto=format&fit=crop&q=80&w=2970&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  z-index: 1;
}
.homepage{
  font-family: 'Montserrat', sans-serif;
  color: rgb(75, 146, 216)
}

.homepage p {
  font-size: 25px;
  font-weight: bold;
}



.signup {
  background:url("https://images.pexels.com/photos/6328858/pexels-photo-6328858.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  
}